body {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: green;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: white;
}

#search-form {
    text-align: center;
}

#paging-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: baseline;
    margin: auto
}

#previous-button, #next-button {
    background-color:  #CCFF99;
    border-radius: 8px;
    margin: 5px;
    border: none;
    font-size: 1.5em;
}

#page, #total-pages {
    margin: 5px;
    padding: 5px;
}

#setlist-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.show {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
}

.show-info {
    text-align: right; 
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    background-color: green;
    border-radius: 0 50px 0 50px;
    width: 300px;
}

.sets {
    display: flex;
    flex-direction: row;
    color: green;
    background-color: #CCFF99;
    margin-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 0 50px 0 50px;
}

.set-detail {
    text-align: left;
    padding-right: 5px;
}

.set-number {
    text-decoration: underline;
}